PORT=3000
NODE_ENV=development
LOG_FORMAT=dev

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=private_gmp
DB_USERNAME=user
DB_PASSWORD=password

# Aleo Network
ALEO_NODE_URL=https://api.explorer.aleo.org/v1
ALEO_NETWORK=testnet
ALEO_VIEW_KEY=AViewKey1krwKovcr96DHnsiHnQUQ43io5v1pr4ijhnnAW
